<h1>Aces Up</h1>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body bgcolor="#006400">
<button id="ruleButton">Rules</button>

<table>

    <br> </br>
    <br> </br>
    <tr class="columnOfCards" id="c0">
        <table class="r0">
            <tr><td class="text">Row 1</td><td class="cardLocation l0"></td><td class="cardLocation l1"></td><td class="cardLocation l2"></td><td class="cardLocation l3"></td><td class="cardLocation l4"></td>
                <td class="cardLocation l5"></td><td class="cardLocation l6"></td><td class="cardLocation l7"></td><td class="cardLocation l8"></td><td class="cardLocation l9"></td>
                <td class="cardLocation l10"></td><td class="cardLocation l11"></td><td class="cardLocation l12"></td><td class="cardLocation l13"></td></tr>
        </table>

    </tr>

    <br> </br>
    <tr>
        <td class="columnOfCards" id="c1">
            <table class="r1">
                <tr><td class="text">Row 2</td><td class="cardLocation l0"></td>
                    <td class="cardLocation l1"></td>
                    <td class="cardLocation l2"></td><td class="cardLocation l3"></td><td class="cardLocation l4"></td>
                    <td class="cardLocation l5"></td><td class="cardLocation l6"></td><td class="cardLocation l7"></td><td class="cardLocation l8"></td><td class="cardLocation l9"></td>
                    <td class="cardLocation l10"></td><td class="cardLocation l11"></td><td class="cardLocation l12"></td><td class="cardLocation l13"></td></tr>
            </table>
        </td>
    </tr>

    <br> </br>
        <td class="columnOfCards" id="c2">
            <table class="r2">
                <tr><td class="text">Row 3</td><td class="cardLocation l0"></td><td class="cardLocation l1"></td><td class="cardLocation l2"></td><td class="cardLocation l3"></td><td class="cardLocation l4"></td>
                    <td class="cardLocation l5"></td><td class="cardLocation l6"></td><td class="cardLocation l7"></td><td class="cardLocation l8"></td><td class="cardLocation l9"></td>
                    <td class="cardLocation l10"></td><td class="cardLocation l11"></td><td class="cardLocation l12"></td><td class="cardLocation l13"></td></tr>
            </table>
        </td>

    <br> </br>
        <td class="columnOfCards" id="c3">
            <table class="r3">
                <tr><td class="text">Row 4</td><td class="cardLocation l0"></td><td class="cardLocation l1"></td><td class="cardLocation l2"></td><td class="cardLocation l3"></td><td class="cardLocation l4"></td>
                    <td class="cardLocation l5"></td><td class="cardLocation l6"></td><td class="cardLocation l7"></td><td class="cardLocation l8"></td><td class="cardLocation l9"></td>
                    <td class="cardLocation l10"></td><td class="cardLocation l11"></td><td class="cardLocation l12"></td><td class="cardLocation l13"></td></tr>
            </table>
        </td>
</table>

<button id="dealButton">Deal</button>
<p class="text">Remove from: <button id="Remove1">Row1</button><button id="Remove2">Row2</button><button id="Remove3">Row3</button><button id="Remove4">Row4</button></p>

<p class="text">Move from row <input type="text" id="from_col"  /> <a class="text"> to </a> <input type="text" id="to_col"  /> <button id="moveButton">Move</button></p>

<p class="text">Cards left in Deck: <span id="deckSizeText"></span></p>

<script>

var gameX;
var cardsLeft = 48;

function display(game) {
console.log(game);
gameX = game;
$("#deckSizeText").html(cardsLeft);
if(cardsLeft == 48){
    cardsLeft = cardsLeft - 4;
}
// $( '.columnOfCards .cardLocation' ).html("");

    $.each(game.rows[0], function( key, val ) {
        console.log(key);
        var el = $( '.r0 .l'+key );
        el.html(val.value + val.suit);
        el.addClass("hasCard");
    });

 $.each(game.rows[1], function( key, val ) {
     console.log(key);
     var el = $( '.r1 .l'+key );
     el.html(val.value + val.suit);
     el.addClass("hasCard");
    });

 $.each(game.rows[2], function( key, val ) {
     console.log(key);
     var el = $( '.r2 .l'+key );
     el.html(val.value + val.suit);
     el.addClass("hasCard");
    });

 $.each(game.rows[3], function( key, val ) {
     console.log(key);
     var el = $( '.r3 .l'+key );
     el.html(val.value + val.suit);
     el.addClass("hasCard");
    });



}

function numberstoLetters(value){
    if(value==11) return"J";
    if(value==12) return"Q";
    if(value==13) return"K";
    if(value==14) return"A";
    else return " " + value;
}

// Calls ApplicationController.gameGet()
$.getJSON("http://localhost:8080/game", function( data ) {
display(data);
game = data;
});


$("#dealButton").click(function(){
$.ajax({
  type: "POST",
  url: "/dealGame",
  data: JSON.stringify(gameX),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);
        $("#deckSizeText").html(cardsLeft);
        if(cardsLeft != 0){
              cardsLeft = cardsLeft - 4;
        }},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


function removeCard(colNumber){
$.ajax({
type: "POST",
url: "/removeCard/"+colNumber,
data: JSON.stringify(gameX),
success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
game = data;
display(data);},
contentType:"application/json; charset=utf-8",
dataType:"json",
});

}

$("#ruleButton").click(function(){
    window.alert("1. Deal four cards in a row face up.\n" +
        "2. If there are two or more cards of the same suit, discard all but the highest-ranked card of that suit. Aces rank high.\n" +
        "3. Repeat step 2 until there are no more pairs of cards with the same suit.\n" +
        "4. Whenever there are any empty spaces, you may choose the top card of another pile to be put into the empty space. After you do this, go to Step 2.\n" +
        "5. When there are no more cards to move or remove, deal out the next four cards from the deck face-up onto each pile.\n" +
        "6. Repeat Step 2, using only the visible, or top, cards on each of the four piles.\n" +
        "7. When the last four cards have been dealt out and any moves made, the game is over. The fewer cards left in the tableau, the better. To win is to have only the four aces left.");
});

$("#Remove1").click(function(){
    removeCard(0);
});
$("#Remove2").click(function(){
    removeCard(1);
});
$("#Remove3").click(function(){
    removeCard(2);
});
$("#Remove4").click(function(){
    removeCard(3);
});


$("#moveButton").click(function(){
var colFrom = $("#from_col").val();
var colTo = $("#to_col").val();
$.ajax({
  type: "POST",
  url: "/moveCard/"+colFrom+"/"+colTo,
  data: JSON.stringify(gameX),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


</script>

<div id="error-backdrop" class="hidden"></div>
<div id="error-note-modal" class="hidden">
    <div class="modal-dialog">

        <div class="modal-header">
            <h3>Error: That move is not possible please try another or deal more cards.</h3>
            <button type="button" class="error-close-button">&times;</button>
        </div>
    </div>>


</div>



</body>
</html>